body {
	margin: 0;
}

.logo {
	font-weight: bold;
	font-size: 28px;
	font-style: italic;
	text-decoration: none;
	text-align: center;
}

.active {
	color: #9cc5a1;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
}

.undefined {
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
	color: aliceblue;
}

.font1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.font2 {
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.font3 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.font4 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.shadowed-text {
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

hr {
	border-color: #9cc5a1;
}

.footer-box {
	filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.2));
}

.paddingCollaps {
	margin: 10px;
}

.card {
	background: rgb(115, 179, 141);
	background: linear-gradient(
		0deg,
		rgba(115, 179, 141, 1) 7%,
		rgba(73, 160, 120, 1) 81%,
		rgba(68, 153, 119, 1) 100%
	);
	color: #444;
	transition: box-shadow 0.5s ease;
}
.card:hover {
	box-shadow: 0.6rem 0.6rem 0 rgba(0, 0, 0, 0.2);
}

.card img {
	height: 250px;
}

.Gallery-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 28px;
	align-items: center;
	justify-content: center;
	gap: 60px;
}

.flex-e {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.table {
	background: linear-gradient(0deg, #47c580 20%, #48c088 60%);
	width: 75%;
	color: #204645;
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 10px;
	border: var(--border);
	overflow: hidden;
}

.table-bordered > :not(caption) > * > * {
	border-width: 0 0px;
}

td {
	width: 10%;
}

.primary-btn {
	background: rgb(115, 179, 141);
	background: linear-gradient(
		90deg,
		rgb(70, 121, 90) 7%,
		rgba(73, 160, 120, 1) 81%,
		rgba(68, 153, 119, 1) 100%
	);
	border-color: #236144;
}

.primary-btn:hover {
	background-color: #307a58;
	border-color: #307a58;
}

.danger-btn {
	background-color: #1f2421;
	border-color: #1f2421;
}

.danger-btn:hover {
	background-color: rgb(153, 14, 33);
	border-color: rgb(153, 14, 33);
}

.navbarB {
	background: linear-gradient(90deg, #49a078 20%, #9cc5a1 60%);
}

.w250 {
	width: 250px;
}

.card-body-product {
	background-color: #9cc5a1;
}

.like-btn {
	position: absolute;
	top: 10px;
	right: 10px;
}

.card {
	width: 18rem;
	height: fit-content;
	position: relative;
}

.container-product {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.card-body-product {
	flex: 1;
}

.bottom-footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 92vh;
}

.notFound {
	overflow: hidden !important;
}
