body {
	margin: 0;
}

.logo {
	font-weight: bold;
	font-size: 28px;
	font-style: italic;
}

.active {
	color: white;
	text-decoration: none;
}

.undefined {
	text-decoration: none;
	color: cornflowerblue;
}

.paddingCollaps {
	margin: 10px;
}

.card {
	background-color: #EFF0D1;
	color: #666
}

.card img {
	height: 250px;
}

.Gallery-container {
	width: 100%;
	height: auto;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 28px;
	align-items: center;
	justify-content: center;
	gap: 60px;
}

.table {
	background-color: #EFF0D1; 
	color: #666; 
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 10px;
	border: 1px solid black;
	border: var(--border);
 	overflow: hidden;
}

.primary-btn {
	background-color: #77b6eaff; 
	border-color: #77b6eaff
}

.danger-btn {
	background-color: #561d25ff; 
	border-color: #561d25ff
}

.danger-btn:hover {
	background-color: rgb(153, 14, 33); 
	border-color: rgb(153, 14, 33);
}

.navbarB { 
	background-color: #acc3a6ff
}

.w250 { width: 250px }

.card-body {
	/* width: auto; // de adorno */
}